<!-- Config file for the game -->

<config>
  <app framerate_cap="10">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <fonts>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="32"/>
  </fonts>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>